/*body(배경) 색상 하늘색*/
body {background-color: aliceblue;}

/*h1 태그 */
h1 {
	text-align: center; /*텍스트의 수평 정렬(center, left, right)*/
	color : brown; 
}

/*h2 태그*/
h2, h2 a:link, h2 a:visited {
	color: blue;
	text-shadow: 3px 3px 3px skyblue ; /*우측, 아래, 흐림효과 반경, 그림자 색상*/
}

/*header 태그 안의 p 태그만 적용*/
header p { 
	border-bottom-width: 1px; /* 아래쪽 테두리 두께를 1px*/
	border-bottom-style: solid; /*아래쪽 테두리 스타일을 실선*/
	border-bottom-color: black; /*아래쪽 테두리 색상 검정*/
} 

/*모든 p 태그에 적용*/
p {
	font-family: 휴먼편지체, 굴림, serif;
	font-size: 1em;
	text-indent: 1em;
}

ul {
	border-width: 1px;
	border-style: dotted;
	border-color: black;
}

a { text-decoration: none; }

footer {
	background: orange;
	border-radius: 10px;
}